{% load audio_extras%}
<script type="text/javascript">
    function export_excel(){
        if(confirm(" 您确定要导出到excel吗?")){
            var inputs = $("#client_statisForm").serialize();
            var url = '/client_statis_export/?'+inputs;
            location.href = url;
            window.event.returnValue = false;
        };
    }
</script>

<form id="pagerForm" method="get" action="#rel#">
    <input type="hidden" name="pageNum" value={{currentPage}} />
    <input type="hidden" name="numPerPage" value={{numPerPage}} />
    <input type="hidden" name="orderField" value="${param.orderField}" />
    <input type="hidden" name="orderDirection" value="${param.orderDirection}" />
</form>

<div class="pageHeader">
    <form rel="pagerForm" id="client_statisForm" onsubmit="return divSearch(this, 'client_statis_Box');"  action="/client_statis_search/" method="post">
        {% csrf_token %}
        <div class="searchBar">

            <table class="searchContent">
                <tr>
                    <td colspan="2">
                        <input type="hidden" name="tree_select_org_id" value='{{tree_select_org_id|default_if_none:""}} '>
                        <label class="searchLable">时间范围：</label>
                        <input type="text" name="begin_time"  value="{{begin_time}}"  class="date" dateFmt="yyyy-MM-dd HH:mm:ss" readonly="true"/>
                        <!--<a class="inputDateButton" href="javascript:;">选择</a>-->
                        ~
                        <input type="text" name="end_time"  value="{{end_time}}"  class="date" dateFmt="yyyy-MM-dd HH:mm:ss" readonly="true"/>
                        <!--<input type="text" name="end_time" value="{{end_time}}"/>-->
                    </td>
                    <td>
                        <div class="buttonActive"><div class="buttonContent"><button type="submit">检索</button></div></div>
                    </td>

                </tr>
            </table>

            <div class="subBar">
                <ul>
                    <!--<li><div class="buttonActive"><div class="buttonContent"><button type="submit">检索</button></div></div></li>-->
                    <!--<li><a class="button" href="demo_page6.html" target="dialog" mask="true" title="查询框"><span>高级检索</span></a></li>-->
                </ul>
            </div>
        </div>
    </form>
</div>
<div class="pageContent">
    <div class="panelBar">
        <ul class="toolBar">
            <li><a class="icon" href="javascript:void(0);"  onclick="export_excel()" ><span>导出EXCEL</span></a></li>
        </ul>
    </div>
    <div style="width: 99%;">
        <table class="table" width="1100px" layoutH="150">
        <thead>
        <tr>
            <!--<th width="20">编号</th>-->
            <th width="50">客户ID号</th>
            <th width="50">客户姓名</th>
            <th width="50">与客户经理通话次数</th>
            <th width="50">平均通话时间</th>
            <th width="50">通话的客户经理人数</th>
        </tr>
        </thead>
        <tbody>
        {% for client_statistic in obj_list %}
        <tr>
            <!--<td>{% serial_number currentPage numPerPage forloop.counter %}</td>-->
            <td>{{client_statistic.client_id}}</td>
            <td>{{client_statistic.client_name|default_if_none:""}}</td>
            <td>{{client_statistic.times_call|default_if_none:""}} </td>
            <td>{{client_statistic.call_time_avg|duration_format}} </td>
            <td>{{client_statistic.count_manager|default_if_none:""}} </td>

        </tr>
        {% endfor %}
        <tr style="background-color:#808080;font-weight:bold;">
            <!--<td></td>-->
            <td style="">平均值</td>
            <td></td>
            <td>{{avg_.times_call|floatformat:1}} </td>
            <td>{{avg_.call_time_avg|duration_format}} </td>
            <td>{{avg_.count_manager|floatformat:1}} </td>
        </tr>
        <tr style="background-color:#808080;font-weight:bold;">
            <!--<td></td>-->
            <td>总和</td>
            <td></td>
            <td>{{sum_.times_call|default_if_none:""}} </td>
            <td>{{sum_.call_time_avg|duration_format}} </td>
            <td>{{sum_.count_manager|default_if_none:""}} </td>
        </tr>

        </tbody>
    </table>
    </div>
    <div class="panelBar">
        <div class="pages">
            <!--<span>显示</span>-->
            <!--<select class="combox"  name="numPerPage" onchange="navTabPageBreak({numPerPage:this.value},'userBox')">-->
            <!--<option value="1">1</option>-->
            <!--<option value="2">2</option>-->
            <!--<option value="5">5</option>-->
            <!--<option value="10">10</option>-->
            <!--</select>-->
            <span>每页{{numPerPage}}条,共{{totalCount}}条,共{{pageCount}}页</span>
        </div>
        <div class="pagination" rel="client_statis_Box" totalCount={{totalCount}} numPerPage={{numPerPage}} pageNumShown={{pageNumShown}} currentPage={{currentPage}}></div>

    </div>
</div>
